<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Carga de Datos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--css-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    </head>
    <body style="background-color: burlywood ">
        <!-- Incluir fragmento de notificaciones -->
        <div th:replace="fragments/notifications :: notifications"></div>
        
        <div class="text-center"> 
            <br>
            <h2>Sistema de Datos </h2>
            <br>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12" style="background-color: ghostwhite ; border-radius: 5px ; padding: 20px ; margin: 0px">
                    <br>
                    <h4> Formulario para agregar Personas </h4>
                    <br>
                    <a href="#" th:href="@{/personas/addpersona?id=0}" ><button type="button" class="btn btn-danger" style="text-align:right;"> Agregar Persona </button></a>
                </div>
            </div>
            <br>
            <h2 class="text-center">Lista de Personas</h2>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-success">
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th> 
                        <th scope="col">Email</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                        <th></th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="persona: ${personas}">
                        <td th:text="${persona.nombre}"></td>
                        <td th:text="${persona.apellido}"></td>
                        <td th:text="${persona.email}"></td>
                        <td th:text="${persona.telefono}"></td>
                        <td th:text="${persona.direccion}"></td>
                        <td><a href="#" th:href="@{/personas/eliminarpersona(id=${persona.id})}"><button type="button" class="btn btn-outline-danger">Eliminar</button></a></td>
                        <td><a href="#" th:href="@{/personas/editarpersona(id=${persona.id})}"><button type="button" class="btn btn-outline-primary">Editar</button></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!-- Scripts de Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
        <!-- Script para mostrar notificaciones del servidor -->
        <script th:inline="javascript">
            // Mostrar notificaciones si existen en el modelo
            /*<![CDATA[*/
            const serverMessage = /*[[${message}]]*/ null;
            const serverError = /*[[${error}]]*/ null;
            const serverSuccess = /*[[${success}]]*/ null;
            const serverWarning = /*[[${warning}]]*/ null;
            /*]]>*/
            
            // Mostrar mensajes del servidor
            if (serverError) {
                showServerError(serverError);
            }
            if (serverSuccess) {
                showSuccess(serverSuccess);
            }
            if (serverWarning) {
                showWarning(serverWarning);
            }
            if (serverMessage) {
                showInfo(serverMessage);
            }
        </script>
    </body>
</html>
