<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Carga de Datos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--css-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    </head>
    <body style="background-color: burlywood ">
        <div class="text-center"> 
            <br>
            <h2>Sistema de Datos </h2>
            <br>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12" style="background-color: ghostwhite ; border-radius: 5px ; padding: 20px ; margin: 0px">
                    <br>
                    <h4> Formulario para agregar Personas </h4>
                    <br>
                    <a href="#" th:href="@{/personas/addpersona?id=0}" ><button type="button" class="btn btn-danger" style="text-align:right;"> Agregar Persona </button></a>
                </div>
            </div>
            <br>
            <h2 class="text-center">Lista de Personas</h2>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-success">
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th> 
                        <th scope="col">Email</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                        <th></th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="Persona: ${personas}">
                        <td th:text=" ${Persona.nombre} "></td>
                        <td th:text=" ${Persona.apellido} "></td>
                        <td th:text=" ${Persona.email} "></td>
                        <td th:text=" ${Persona.tel} "></td>
                        <td th:text=" ${Persona.direccion} "></td>
                        <td ><a href="#" th:href="@{/personas/eliminarpersona?id=__${Persona.id_persona}__}"><button type="button" class="btn btn-danger">Eliminar</button></a></td>
                        <td ><a href="#" th:href="@{/personas/editarpersona?id=__${Persona.id_persona}__}"><button type="button" class="btn btn-primary">Editar</button></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
